<!-- about-us.component.html -->
<section class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>À propos de nous</h2>
        <p>Cette application est un quiz développé dans le cadre d'un projet scolaire pour le Collège Bois de Boulogne.</p>
        <p>Elle a été créée par :</p>
        <ul>
          <li>Therese Janaï Corral-Perez</li>
          <li>Ismail Guendouz</li>
          <li>Pascal Allagba N'Guessan</li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="assets/images/aboutUs.jpg" alt="College Bois de Boulogne Logo" class="img-fluid">
      </div>
    </div>
  </section>
  